<!DOCTYPE html>
<html>

<head>
    <title>
        {% block title %}{% endblock title %}
    </title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {%if user.is_authenticated%}
                <!-- Hello,{{user.username}} -->
                <li> <a href="{%url 'logout' %}">Logout</a> </li>
                <li> <a href="{%url 'create_receipt' %}">Create</a></li>
                <li> <a href="{%url 'create_account' %}">Create Account</a></li>
                <li> <a href="{%url 'create_category' %}">Create Category</a></li>
                {%else %}
                <li> <a href="{%url 'signup' %}">Sign up</a></li>
                <li> <a href="{%url 'login' %}">Login</a></li>

                {%endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}

</body>

</html>
